% Run at max, i.e.: as quickly as possible
{mode, max}.

%% test duration in minutes
{duration, 1}.

% Run n concurrent clients
{concurrent, 8}.

%% The module name of the driver that Basho Bench will use to generate load.
{driver, basho_bench_driver_bigdata_topk}.

%% necessary code to run the client
%{code_paths, ["_build/default/lib/basho_bench"]}.

%%
{key_generator, {int_to_bin_bigendian, {uniform_int, 5000000}}}.

%%
{value_generator, {fixed_bin, 10000}}.

%% Configuration settings for Antidote servers.
%% List of erlang nodes
{antidote_nodes, ['NODE']}.
{bench_node, ['BENCHNODE', longnames]}.
{antidote_cookie, antidote}.
{bigdata, "/home/ubuntu/"}.
{operations,[{add, 100}]}.
