% Run at max, i.e.: as quickly as possible
{mode, max}.

%% test duration in minutes
{duration, 5}.

% Run n concurrent clients
{concurrent, 10}.

%% The module name of the driver that Basho Bench will use to generate load.
{driver, basho_bench_driver_antidote_ccrdts}.

%% necessary code to run the client
%{code_paths, ["_build/default/lib/basho_bench"]}.

%%
{key_generator, {int_to_bin_bigendian, {uniform_int, 5000000}}}.

%%
{value_generator, {fixed_bin, 10000}}.

%% Configuration settings for Antidote servers.
%% List of erlang nodes
{antidote_nodes, ['CHANGEME']}.
{antidote_cookie, antidote}.

{num_keys, 250}.
{num_players, 50000}.

{operations,[
  {topk_add, 100}
]}.
