%% This configuration is intened to benchmark antidote with protocol buffer interface.
%% The important parameters are as follows:
%% not exploit the real throughput of the system, while too high concurrency will over-stress
%% the system and trigger timeouts. The suggested number is about 20.
%%
%% {mode, max|{rate, integer()}}: how frequent a thread should send request. Use 'max' for benchmarking.
%% If you are debugging, maybe {rate, N} can be useful, which means each thread sends N reqs per second.
%%
%% {operations, [{new_order,25},{payment,25},{order_status,50}]}.
%% Current operations: read, append, append_multiple(update nine consecutive keys in a transaction),
%% read_all_write_one(read N consecutive keys and randomly pick one key to update, N is the number of 
%% antidote nodes. The assumption is that each node is assumed to have only one partition and the hash
%% fun should be integer()%N).
%% 
%% to benchmark.
%% 
%% For more information, please check : http://docs.basho.com/riak/latest/ops/building/benchmarking/
{mode, max}.

{duration, 180}.
{concurrent, 4}.
{master_to_sleep, 500}.
{to_sleep, 100}.
{specula, false}.
{transition, true}.
{transition_file, "../../include/default_transitions.txt"}.
{config_file, "../../include/rubis_prop.config"}.

{driver, basho_bench_driver_rubis}.

{key_generator, {pareto_int, 20000}}.
{value_generator, {fixed_bin, 10}}.

{operations, [{register, 1}, {register_user, 1}, {browse, 1}, {browse_categories, 1}, {search_items_in_category, 1},
        {browse_regions, 1}, {browse_categories_in_region, 1}, {search_items_in_region, 1}, {view_item, 1},
        {view_user_info, 1}, {view_bid_history, 1}, {buy_now_auth, 1}, {buy_now, 1}, {store_buy_now, 1}, {put_bid_auth, 1},
        {put_bid, 1}, {store_bid, 1}, {put_comment, 1}, {store_comment, 1},  {sell, 1},
        {select_category_to_sell_item, 1}, {sell_item_form, 1}, {register_item, 1}, {about_me_auth, 1}, {about_me, 1}]}.

%%{operations, [{new_order,25},{payment,25},{order_status,50}]}.
%%{operations, [{new_order,25},{payment,25},{order_status,50}]}.

{access_master, 80}.
{access_slave, 20}.

{payment_master, 0}.
{payment_slave, 100}.

%% the second element in the list below (e.g., "../../public/bitcask")
%% must point to % the relevant directory of a bitcask installation
{code_paths, ["../antidote/ebin"]}.

{antidote_cookie, antidote}.

{antidote_mynode, ['bench@127.0.0.1',longnames]}.
{antidote_types, [{riak_dt_pncounter, [increment, decrement]}]}.
{antidote_pb_ips, ['dev1@127.0.0.1', 'dev2@127.0.0.1', 'dev3@127.0.0.1', 'dev4@127.0.0.1']}.
